In [ ]:
Python Collections (Arrays)

There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered and unindexed. No duplicate members.
Dictionary is a collection which is ordered* and changeable. No duplicate members.

In [ ]:
List

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, 
the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

In [ ]:
List Items

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

Ordered

When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

Changeable

The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

Allow Duplicates

Since lists are indexed, lists can have items with the same value

List Length

To determine how many items a list has, use the len() function

In [ ]:
List Methods

Python has a set of built-in methods that you can use on lists.

Method	Description
append()	Adds an element at the end of the list
clear()	Removes all the elements from the list
copy()	Returns a copy of the list
count()	Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	Removes the element at the specified position
remove()	Removes the item with the specified value
reverse()	Reverses the order of the list
sort()	Sorts the list

In [1]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [2]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]

print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [3]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [4]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]

In [5]:
list1 = ["abc", 34, True, 40, "male"]

print(list1)

['abc', 34, True, 40, 'male']

In [6]:
mylist = ["apple", "banana", "cherry"]

print(type(mylist))

<class 'list'>

In [7]:
thislist = list(("apple", "banana", "cherry"))
print(thislist)

['apple', 'banana', 'cherry']

In [8]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [9]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [10]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

#This will return the items from position 2 to 5.

#Remember that the first item is position 0,
#and note that the item in position 5 is NOT included

['cherry', 'orange', 'kiwi']

In [11]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

#This will return the items from index 0 to index 4.

#Remember that index 0 is the first item, and index 4 is the fifth item
#Remember that the item in index 4 is NOT included

['apple', 'banana', 'cherry', 'orange']

In [12]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

#This will return the items from index 2 to the end.

#Remember that index 0 is the first item, and index 2 is the third

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [13]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

#Negative indexing means starting from the end of the list.

#This example returns the items from index -4 (included) to index -1 (excluded)

#Remember that the last item has the index -1,

['orange', 'kiwi', 'melon']

In [14]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [15]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"

print(thislist)

['apple', 'blackcurrant', 'cherry']

In [16]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]

thislist[1:3] = ["blackcurrant", "watermelon"]

print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [17]:
thislist = ["apple", "banana", "cherry"]

thislist[1:2] = ["blackcurrant", "watermelon"]

print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [18]:
thislist = ["apple", "banana", "cherry"]

thislist[1:3] = ["watermelon"]

print(thislist)

['apple', 'watermelon']

In [19]:
thislist = ["apple", "banana", "cherry"]

thislist.insert(2, "watermelon")

print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [20]:
thislist = ["apple", "banana", "cherry"]

thislist.append("orange")

print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [21]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [1]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]

thislist.extend(tropical)

print(thislist)
print(tropical)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']
['mango', 'pineapple', 'papaya']

In [23]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")

thislist.extend(thistuple)

print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [24]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [25]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [26]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [27]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [28]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [29]:
thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist) #this will cause an error because you have succsesfully deleted "thislist".

NameError: name 'thislist' is not defined

In [30]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [31]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [32]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [33]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [34]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [35]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if x != "apple"]

print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [36]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [37]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits]

print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [38]:
newlist = [x for x in range(10)]

print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
newlist = [x for x in range(10) if x < 5]

print(newlist)

[0, 1, 2, 3, 4]

In [40]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x.upper() for x in fruits]

print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [41]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = ['hello' for x in fruits]

print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

In [42]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x if x != "banana" else "orange" for x in fruits]

print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [43]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]

thislist.sort()

print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [44]:
thislist = [100, 50, 65, 82, 23]

thislist.sort()

print(thislist)

[23, 50, 65, 82, 100]

In [2]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]

thislist.sort(reverse = True)


print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [46]:
thislist = [100, 50, 65, 82, 23]

thislist.sort(reverse = True)

print(thislist)

[100, 82, 65, 50, 23]

In [47]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]

thislist.sort(key = myfunc)

print(thislist)

[50, 65, 23, 82, 100]

In [48]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]

thislist.sort()

print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [49]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]

thislist.sort(key = str.lower)

print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [50]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]

thislist.reverse()

print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [51]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [52]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [53]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [54]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [55]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [1]:
animals = ['cat', 'dog', 'rabbit', 'horse']

# get the index of 'dog'
index = animals.index('dog')


print(index)

# Output: 1

1